.sessions_new, .registrations_new, .passwords_new, .confirmation_new {
  .content {
    width: 300px;
    margin: 0 auto;
  }

  td {
    padding: 5px;
  }
}

.admin_users {
  td.sign_in_count, td.role {
    text-align: center;
  }
}
