/* line 14, ../../../../../.rvm/gems/ruby-1.9.2-p136@nagatha/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.2-p136@nagatha/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.2-p136@nagatha/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 31, ../../../../../.rvm/gems/ruby-1.9.2-p136@nagatha/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 33, ../../../../../.rvm/gems/ruby-1.9.2-p136@nagatha/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 35, ../../../../../.rvm/gems/ruby-1.9.2-p136@nagatha/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 37, ../../../../../.rvm/gems/ruby-1.9.2-p136@nagatha/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 39, ../../../../../.rvm/gems/ruby-1.9.2-p136@nagatha/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 41, ../../../../../.rvm/gems/ruby-1.9.2-p136@nagatha/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 43, ../../../../../.rvm/gems/ruby-1.9.2-p136@nagatha/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 45, ../../../../../.rvm/gems/ruby-1.9.2-p136@nagatha/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_reset.scss */
input, select {
  vertical-align: middle;
}

/* line 11, ../../../../../.rvm/gems/ruby-1.9.2-p136@nagatha/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_fonts.scss */
body {
  font-size: 13px;
  font-family: sans-serif;
  line-height: 1.231;
  *font-size: small;
}

/* line 18, ../../../../../.rvm/gems/ruby-1.9.2-p136@nagatha/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_fonts.scss */
select, input, textarea, button {
  font: 99% sans-serif;
}

/* line 23, ../../../../../.rvm/gems/ruby-1.9.2-p136@nagatha/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_fonts.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* line 16, ../../app/stylesheets/partials/_example.scss */
body, select, input, textarea {
  color: #444444;
}

/* line 20, ../../app/stylesheets/partials/_example.scss */
a, a:active, a:visited {
  color: #607890;
}

/* line 21, ../../app/stylesheets/partials/_example.scss */
a:hover {
  color: #003366;
}

/* line 23, ../../app/stylesheets/partials/_example.scss */
ul, ol {
  margin-left: 1.8em;
}

/* line 24, ../../app/stylesheets/partials/_example.scss */
ol {
  list-style-type: decimal;
}

/* line 26, ../../app/stylesheets/partials/_example.scss */
td, td img {
  vertical-align: top;
}

/* line 28, ../../app/stylesheets/partials/_example.scss */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  bottom: -0.25em;
}

/* line 30, ../../app/stylesheets/partials/_example.scss */
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  top: -0.5em;
}

/* line 57, ../../../../../.rvm/gems/ruby-1.9.2-p136@nagatha/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
a:hover, a:active {
  outline: none;
}

/* line 62, ../../../../../.rvm/gems/ruby-1.9.2-p136@nagatha/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
  padding: 15px;
}

/* line 71, ../../../../../.rvm/gems/ruby-1.9.2-p136@nagatha/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
input[type="radio"] {
  vertical-align: text-bottom;
}

/* line 72, ../../../../../.rvm/gems/ruby-1.9.2-p136@nagatha/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
input[type="checkbox"] {
  vertical-align: bottom;
}

/* line 73, ../../../../../.rvm/gems/ruby-1.9.2-p136@nagatha/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 74, ../../../../../.rvm/gems/ruby-1.9.2-p136@nagatha/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
.ie6 input {
  vertical-align: text-bottom;
}

/* line 79, ../../../../../.rvm/gems/ruby-1.9.2-p136@nagatha/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer;
}

/* line 91, ../../../../../.rvm/gems/ruby-1.9.2-p136@nagatha/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
::-moz-selection {
  background: #ff5e99;
  color: white;
  text-shadow: none;
}

/* line 92, ../../../../../.rvm/gems/ruby-1.9.2-p136@nagatha/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
::selection {
  background: #ff5e99;
  color: white;
  text-shadow: none;
}

/* line 97, ../../../../../.rvm/gems/ruby-1.9.2-p136@nagatha/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
a:link {
  -webkit-tap-highlight-color: #ff5e99;
}

/* line 108, ../../../../../.rvm/gems/ruby-1.9.2-p136@nagatha/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
button {
  width: auto;
  overflow: visible;
}

/* line 112, ../../../../../.rvm/gems/ruby-1.9.2-p136@nagatha/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* line 114, ../../../../../.rvm/gems/ruby-1.9.2-p136@nagatha/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

/* line 119, ../../../../../.rvm/gems/ruby-1.9.2-p136@nagatha/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}

/* line 52, ../../app/stylesheets/partials/_example.scss */
.ir {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  direction: ltr;
  background-repeat: no-repeat;
}

/* line 54, ../../app/stylesheets/partials/_example.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* line 56, ../../app/stylesheets/partials/_example.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 50, ../../../../../.rvm/gems/ruby-1.9.2-p136@nagatha/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_helpers.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 58, ../../app/stylesheets/partials/_example.scss */
.clearfix {
  *zoom: 1;
}
/* line 22, ../../../../../.rvm/gems/ruby-1.9.2-p136@nagatha/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

@media print {
  /* line 24, ../../../../../.rvm/gems/ruby-1.9.2-p136@nagatha/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_media.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* line 26, ../../../../../.rvm/gems/ruby-1.9.2-p136@nagatha/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_media.scss */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  /* line 27, ../../../../../.rvm/gems/ruby-1.9.2-p136@nagatha/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_media.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 28, ../../../../../.rvm/gems/ruby-1.9.2-p136@nagatha/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_media.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 29, ../../../../../.rvm/gems/ruby-1.9.2-p136@nagatha/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_media.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* line 30, ../../../../../.rvm/gems/ruby-1.9.2-p136@nagatha/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_media.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 31, ../../../../../.rvm/gems/ruby-1.9.2-p136@nagatha/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_media.scss */
  thead {
    display: table-header-group;
  }

  /* line 32, ../../../../../.rvm/gems/ruby-1.9.2-p136@nagatha/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_media.scss */
  tr, img {
    page-break-inside: avoid;
  }

  @page {
    margin: 0.5cm;
}

  /* line 34, ../../../../../.rvm/gems/ruby-1.9.2-p136@nagatha/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_media.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 35, ../../../../../.rvm/gems/ruby-1.9.2-p136@nagatha/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_media.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}

@media all and (orientation:portrait) {}
@media all and (orientation:landscape) {}
@media screen and (max-device-width: 480px) {}
/* line 8, ../../app/stylesheets/partials/_page.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* line 14, ../../app/stylesheets/partials/_page.scss */
h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

/* line 19, ../../app/stylesheets/partials/_page.scss */
h1 {
  font-size: 2em;
  margin: .67em 0;
}

/* line 20, ../../app/stylesheets/partials/_page.scss */
h2 {
  font-size: 1.5em;
  margin: .83em 0;
}

/* line 21, ../../app/stylesheets/partials/_page.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 22, ../../app/stylesheets/partials/_page.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 23, ../../app/stylesheets/partials/_page.scss */
h5 {
  font-size: .83em;
  line-height: 1.17em;
  margin: 1.67em 0;
}

/* line 24, ../../app/stylesheets/partials/_page.scss */
h6 {
  font-size: .67em;
  margin: 2.33em 0;
}

/* line 26, ../../app/stylesheets/partials/_page.scss */
strong, th {
  font-weight: bold;
}

/* line 30, ../../app/stylesheets/partials/_page.scss */
small {
  font-size: 85%;
}

/* line 39, ../../app/stylesheets/partials/_page.scss */
input:invalid, textarea:invalid {
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  -o-border-radius: 1px;
  -ms-border-radius: 1px;
  -khtml-border-radius: 1px;
  border-radius: 1px;
  -moz-box-shadow: red 0 0 5px 0;
  -webkit-box-shadow: red 0 0 5px 0;
  -o-box-shadow: red 0 0 5px 0;
  box-shadow: red 0 0 5px 0;
}

/* line 44, ../../app/stylesheets/partials/_page.scss */
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

/* line 46, ../../app/stylesheets/partials/_page.scss */
.center {
  text-align: center;
}

/* line 56, ../../app/stylesheets/partials/_page.scss */
html {
  height: 100%;
}

/* line 60, ../../app/stylesheets/partials/_page.scss */
body {
  height: 100%;
  font-size: 14px;
  font-color: #444444;
}

/* line 67, ../../app/stylesheets/partials/_page.scss */
#container {
  min-height: 100%;
}

/* line 73, ../../app/stylesheets/partials/_page.scss */
header {
  height: 130px;
  /*margin-bottom: 30px;*/
  color: #444444;
  background-color: #f0f0f0;
}
/* line 79, ../../app/stylesheets/partials/_page.scss */
header #logo {
  height: 80px;
  line-height: 80px;
  padding-left: 30px;
  font-weight: bold;
  font-size: 2.5em;
}
/* line 85, ../../app/stylesheets/partials/_page.scss */
header #logo a {
  text-decoration: none;
  color: #444444;
}
/* line 91, ../../app/stylesheets/partials/_page.scss */
header #user_nav {
  float: right;
  height: 40px;
  margin-top: 30px;
  padding-right: 20px;
  text-align: right;
}

/* line 105, ../../app/stylesheets/partials/_page.scss */
#main {
  padding: 20px 50px 50px 50px;
}

/* line 109, ../../app/stylesheets/partials/_page.scss */
nav {
  width: 100%;
  /*
   * Second row - subnavigation
   *
   *   - hide second row by default
   *   - convert tab and entire subtab bar to hover color
   *   - hovering over subtabs changes it to active color
   */
  /*
   * Style subtabs for a selected top tab:
   *
   *   - always show subtabs for currently selected top level tab, colored as active
   *   - hovering over subtabs changes them to hover color
          except a selected subtab, which doesn't change color on hover
   */
}
/* line 113, ../../app/stylesheets/partials/_page.scss */
nav ul {
  float: left;
  position: relative;
  height: 30px;
  width: 100%;
  background-color: #888888;
}
/* line 122, ../../app/stylesheets/partials/_page.scss */
nav li {
  display: block;
  float: left;
  height: 30px;
  background-color: #888888;
  font-size: 16px;
}
/* line 130, ../../app/stylesheets/partials/_page.scss */
nav li:first-child {
  margin-left: 30px;
}
/* line 134, ../../app/stylesheets/partials/_page.scss */
nav li:hover {
  background-color: #bbbbbb;
}
/* line 138, ../../app/stylesheets/partials/_page.scss */
nav li.selected {
  background-color: #aaaaaa;
}
/* line 140, ../../app/stylesheets/partials/_page.scss */
nav li.selected:hover {
  background-color: #aaaaaa;
}
/* line 145, ../../app/stylesheets/partials/_page.scss */
nav li > a, nav li > a:hover, nav li > a:visited, nav li > a:active {
  line-height: 30px;
  padding: 6px 20px;
  font-weight: bold;
  color: #FFF;
  text-decoration: none;
}
/* line 163, ../../app/stylesheets/partials/_page.scss */
nav li > ul {
  position: absolute;
  top: 30px;
  left: 0;
  display: none;
}
/* line 171, ../../app/stylesheets/partials/_page.scss */
nav li > ul > li {
  font-size: 14px;
}
/* line 176, ../../app/stylesheets/partials/_page.scss */
nav li:hover > ul {
  /* When hovering over any top-level tab, show it's subtabs, covering any other displayed subtabs */
  display: block;
  z-index: 6000;
  background-color: #bbbbbb;
}
/* line 182, ../../app/stylesheets/partials/_page.scss */
nav li:hover > ul li {
  background-color: #bbbbbb;
}
/* line 185, ../../app/stylesheets/partials/_page.scss */
nav li:hover > ul li:hover {
  background-color: #cccccc;
}
/* line 200, ../../app/stylesheets/partials/_page.scss */
nav li.selected > ul {
  display: block;
  background-color: #aaaaaa;
}
/* line 204, ../../app/stylesheets/partials/_page.scss */
nav li.selected > ul > li {
  background-color: #aaaaaa;
}
/* line 208, ../../app/stylesheets/partials/_page.scss */
nav li.selected > ul > li.selected {
  padding: 0 14px;
}
/* line 211, ../../app/stylesheets/partials/_page.scss */
nav li.selected > ul > li.selected:hover {
  background-color: #aaaaaa;
}
/* line 215, ../../app/stylesheets/partials/_page.scss */
nav li.selected > ul > li.selected a, nav li.selected > ul > li.selected a:hover, nav li.selected > ul > li.selected a:active, nav li.selected > ul > li.selected a:visited {
  padding: 3px 6px;
  font-weight: bold;
  color: #444444;
  text-decoration: none;
  background-color: white;
}

/* line 228, ../../app/stylesheets/partials/_page.scss */
footer {
  height: 20px;
  padding: 5px;
  margin-top: -30px;
  background-color: #dddddd;
  text-align: center;
}

/* line 1, ../../app/stylesheets/partials/_flash.scss */
#flash {
  margin: auto;
  width: 80%;
}
/* line 5, ../../app/stylesheets/partials/_flash.scss */
#flash .flash {
  border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 8px 5px;
  text-align: center;
}
/* line 12, ../../app/stylesheets/partials/_flash.scss */
#flash .notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}
/* line 17, ../../app/stylesheets/partials/_flash.scss */
#flash .alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

/* line 2, ../../app/stylesheets/partials/_pages.scss */
.sessions_new .content, .registrations_new .content, .passwords_new .content, .confirmation_new .content {
  width: 300px;
  margin: 0 auto;
}
/* line 7, ../../app/stylesheets/partials/_pages.scss */
.sessions_new td, .registrations_new td, .passwords_new td, .confirmation_new td {
  padding: 5px;
}

/* line 13, ../../app/stylesheets/partials/_pages.scss */
.admin_users td.sign_in_count, .admin_users td.role {
  text-align: center;
}

/* line 2, ../../app/stylesheets/partials/_table.scss */
table th, table td {
  padding: 2px 4px;
}

/* line 8, ../../app/stylesheets/partials/_table.scss */
table.horizontal-form th, table.horizontal-form td {
  border: 2px solid white;
}
/* line 12, ../../app/stylesheets/partials/_table.scss */
table.horizontal-form th {
  background-color: #E0E0E0;
}
/* line 16, ../../app/stylesheets/partials/_table.scss */
table.horizontal-form .odd {
  background-color: #f0f8ff;
}
/* line 20, ../../app/stylesheets/partials/_table.scss */
table.horizontal-form th .current_sort {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}
/* line 25, ../../app/stylesheets/partials/_table.scss */
table.horizontal-form th .current_sort.asc {
  background-image: url(/images/up_arrow.gif);
}
/* line 29, ../../app/stylesheets/partials/_table.scss */
table.horizontal-form th .current_sort.desc {
  background-image: url(/images/down_arrow.gif);
}

/* line 35, ../../app/stylesheets/partials/_table.scss */
table.vertical-form th, table.vertical-form td {
  line-height: 20px;
}
