%br
  %h1.center It Does Nothing, but it does it Really Well.
#promo{:style => 'width:40%; margin: 0 auto;'}
  %ul
    %li Busy life?
    %li Don't get time to look at your To Do lists?
    %li Would it be really cool if your To Do list could reach out to you and remind you to do 1 thing each day?
    %li via Email / Text Message / Skype
